.search_buttons{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.search_buttons button{
    padding: 7px 14px;
    color: #3c4043;
    font-size: 15px;
    background-color: #f8f9fa;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    min-width: 54px;
    margin: 12px 6px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}