/* Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header, .footer{
    background-color: powderblue;
}
.navbar{
    display: flex;
    justify-content: center;
}
a{
    padding: 10px;
}

/* Page Body */
.body{
    height: 41vh;
}
/* Home */

/* About */

/* Footer */
.cen{
    display: flex;
    justify-content: center;
}