.input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  height: 38px;
  padding: 5px 8px 0 14px;
  border: 1px solid lightgray;
  border-radius: 20px;
  color: #5f6368;
  margin-top: 4vh;
}

.input_container:hover {
  box-shadow: 0 0 5px 0 #5f6368;
}
.input_container > input {
  flex-grow: 1;
  border: none;
  outline: none;
}
